# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\demoGit\Demo\demogit\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
